*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .slider{
    margin-top: 10px;
    padding: 0 60px;
    display: flex; 
    width: 100%;
    position: sticky;
    left: 0;
    top: 70px;
    z-index: 999;
    background-color: white;
    align-items: center;
  }
  .sliderMain{
    flex: 9;
    padding: 0 15px;
    width: 90%;
  }
  .sliderBody{
    /* background-color: antiquewhite; */
    margin: 0;
     padding: 10px;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 10px;
     color: gray;
     transition: color 1s ease-in-out;
  }
  .sliderBody:hover{
     color: brown;
  }
  .sliderBody i{
    font-size: 40px;
  }
.silderFilter{
  width: 40px;
  height: 40px;
  padding: 100px; 
  flex: 3;
  z-index: 99999;
  }

.sc-gswNZR{
    margin: 0;
    padding: 2px;
    width: 90%;
    
    position: relative;
}
  .hTXjKY{
    padding: 5px; 
    width: 90%;
  }
.XXbv{
    flex: 10;position: relative;
    width: 90%;
}
.iyImwN{
    flex: 10;
}
  #prev{
    background-color: rebeccapurple;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 50%; 
  }
  #prev img{
    display: none;
  }
  #next{
    background-color: rebeccapurple;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 50%; 
  }
  #next img{
    display: none;
  }